html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

main {

	padding: 0;
	margin: 0;
	height: 100%;

	--header-height: 40px;
	--nav-width: 170px;
	--track-width: 250px;
	--hover-height: 0px;

}

header input[type="file"] {

	display: none;

}

header {

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: var(--header-height);
	background-color: #292961;
	z-index: 100;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table td.icon {

	width: 40px;

}

header table td.link {

	width: 110px;
	color: #fff;
	font-size: 16px;

}

header table td.link.git {

	width: 90px;

}

header table td.link span:hover {

	cursor: pointer;
	color: lightblue;

}

header table td.link img {

	max-height: 18px;

}

header table td.icon img {

	width: 70%;
	display: block;
	margin: auto;

}

header table h1 {

	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding :0;
	margin: 0;

}

div.hover {

	position: fixed;
	left: 0;
	top: var(--header-height);
	height: calc(var(--hover-height) - 1px);
	width: calc(var(--nav-width) + var(--track-width) - 1px);
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	background-color: #e7e7e7;


}

nav {

	position: fixed;
	left: 0;
	top: calc(var(--header-height) + var(--hover-height));
	height: calc(100% - var(--header-height) - var(--hover-height));
	width: calc(var(--nav-width) - 1px);
	border-right: 1px solid #cecece;
	background-color: #fafafa;

}

nav ul {

	padding: 0;
	margin: 0;

}

nav ul li {

	list-style: none;
	color: rgb(46, 46, 46);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	text-indent: 11px;
	padding: 12px 0;
	border-left: 4px solid transparent;

}

nav ul li.active {
	
	color: rgb(57, 57, 130);
	background-color: rgba(0,0,0,0.05);
	border-color: #4b4ba3;

}

aside li:hover,
nav ul li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.05);

}

nav div.servbot {

	position: absolute;
	bottom: 40px;
	width: calc(100% - 20px);
	left: 10px;

}

nav div.copyright {
	
	position: absolute;
	left: 0;
	bottom: 4px;
	font-size: 10px;
	width: 100%;
	text-align: center;

}

nav div.copyright a {

	text-decoration: none;
	color: #00f;
	line-height: 19px;
}

nav div.copyright a:hover {

	cursor: pointer;
	text-decoration: underline;

}

nav div.servbot img {

	display: block;
	margin: auto;
	max-width: 100%;
	opacity: 0.6;
	max-height: 180px;
}

aside {

	position: fixed;
	width: calc(var(--track-width) - 1px);
	border-right: 1px solid #cecece;
	top: calc(var(--header-height) + var(--hover-height));
	background-color: #fff;
	height: calc(100% - var(--header-height) - var(--hover-height));
	overflow-y: scroll;
	left: var(--nav-width);

}

aside ul {

	padding: 0;
	margin: 0;

}

aside p {

	font-sie: 14px;
	line-height: 22px;
	padding: 2px;

}

aside ol {

	padding: 2px 4px;
	margin: 0;

}

aside li {

	list-style: none;
	text-indent: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #fafafa;
	color: #7e7c7c;
	transition: color 100ms linear;

}

aside li:hover {

	cursor: pointer;
	color: #134a81;

}

aside li.active {
	
	color: #000 !important;

}

section {

	position: fixed;
	left: calc(var(--nav-width) + var(--track-width));
	width: calc(100% - var(--nav-width) - var(--track-width));
	top: var(--header-height);
	height: calc(100% - var(--header-height));
	background-color: #8b95a6;

	--tag-size: 60px;

}

section div.tag {

	display: block;
	position: absolute;
	top: calc(50% - var(--tag-size) * 0.75);
	width: var(--tag-size);
	height: var(--tag-size);
	border-radius: var(--tag-size);
	background-color: rgba(255, 255, 255, 0.2);

	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;

}

section div.tag.hide {

	display: none;

}

section div.prev {

	left: 4px;
	background-image: url(../img/baseline_chevron_left_white_36dp.png);

}

section div.next {

	background-image: url(../img/baseline_chevron_right_white_36dp.png);
	right: 4px;

}

section div.tag:before {

	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 80px;
	transform: scale(0, 0);
	transition: transform 200ms;

}

section div.info {

	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	color: #fff;
	pointer-events: none;

}

section div.info.hide {

	display: none;

}

section div.info li {

	list-style: none;
	padding: 2px 4px;
	
}

section div.tag:hover:before {

	cursor: pointer;
	transform: scale(1, 1);

}

div.animations {

	position: fixed;
	left: calc(var(--nav-width) + var(--track-width));
	width: calc(100% - var(--nav-width) - var(--track-width));
	bottom: 0;
	height: 46px;
	background-color: rgba(0,0,0,0.1);
	z-index: 50;

}

div.animations table {

	width: calc(100% - 16px);
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin-left: 8px;
	margin-right: 8px;

}

div.animations table td {

	color: #fff;

}

div.animations table td.btn {

	width: 80px;
	padding-bottom: 4px;

}

div.animations table td.btn.speed {

	width: 130px;

}

div.animations table td.btn:hover {

	color: lightblue;
	cursor: pointer;

}

div.animations table td.frame {

	text-align: right;
	padding-top: 8px;

}

div.animations table td.opts {

	width: 170px;

}

div.animations table img {

	height: 22px;
	display: inline-block;
	position: relative;
	top: 4px;

}

div.modal {

	position: fixed;
	z-index: 150;
	width: 200px;
	top: calc(var(--header-height) - 6px);
	right: 60px;
	padding-top: 18px;
	transform: translateY(0px);
	opacity: 1;
	transition: transform 200ms, opacity 200ms;

}

div.modal.hide {

	transform: translateY(-20px);
	opacity: 0;
	pointer-events: none;

}

div.modal:before {

	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 18px solid #ccc;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 80px;

}

div.modal:after {

	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 18px solid #fff;
	content: "";
	display: block;
	position: absolute;
	top: 1px;
	right: 80px;

}

div.modal div.content {

	width: calc(100% - 22px);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;

}

div.modal div.content li{

	list-style: none;
	padding: 5px 0;
	color: #2a2a2a;
	position: relative;
	text-indent: 2px;

}

div.modal div.content li:after {

	content: "";
	position: absolute;
	width: 20px;
	height: 100%;
	right: 0;
	top: 0;
	background-image: url(../img/baseline_check_black_36dp.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.1;

}

div.modal div.content li.on:after {

	opacity: 0.9 !important;

}

div.modal div.content li:hover:after {

	cursor: pointer;
	opacity: 0.7;

}

div.modal div.content li.center:after {

	background-image: url(../img/baseline_center_focus_weak_black_36dp.png);
	background-size: 90%;
	opacity: 0.3;

}

div.modal div.content li.camera:after {

	background-image: url(../img/baseline_camera_alt_black_36dp.png);
	background-size: 90%;
	opacity: 0.3;

}

div.modal div.content li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.08);

}

div.modal div.content div.line {

	margin: 4px 0;
	height: 1px;
	background-color: #e1e1e1;

}
